* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  margin: 6px;
  background: #222;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 2%;
  right: 0%;
  left: 0%;
  z-index: 1;
}

.container select {
  display: flex;
  padding: 10px 0px;
  outline: none;
  border: none;
  background: #ddd;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  max-width: 220px;
  width: 100%;
}

.container select:hover {
  background: #55aa77;
  color: white;
}

::-webkit-scrollbar {
  width: 1px;
  background: rgb(255, 176, 176);

}

::-webkit-scrollbar-thumb {
  background: black;
}

ul {
  padding: 4px;
  padding-top: 50px;
  overflow-y: auto;
  height: 100%;
}

li {
  line-height: 18px;
  list-style: none;
  margin-bottom: 8px;
  text-align: left;
  color: #eee;
  text-shadow: 1px 1px 1px #555;
  cursor: pointer;
  padding: 5px;
}

.back-add {
  background: black;
  color: rgb(235, 117, 21);
  text-shadow: none;
  transform: scale(1.01);
  transition: 200ms;
  font-size: 17px;
}

.back-remove {
  background: #222;
  transform: scale(1);
  transition: 200ms;
}